pin-depends: [
    ["michelson-adt.dev" "git+https://github.com/joaosreis/michelson-adt"]
    ["michelson-parser.dev" "git+https://github.com/joaosreis/michelson-parser"]
    ["tezla.dev" "git+https://github.com/joaosreis/tezla"]
]
